/*
.svg-frame {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
  }

.zoomable {
  width: 100%;
  height: auto;
  transition: transform 0.1s ease;
  cursor: grab;
  touch-action: none;
}
*/

.team-information {
  color: white;
  font-size: smaller;
  font-weight: 500;
}