/*========== 現在地画面のCSS ==========*/

:root {
    --team-a-color: rgb(0, 89, 255);
    --team-b-color: rgb(241, 27, 27);
    --team-c-color: rgb(231, 169, 35);
    --team-d-color: rgb(3, 165, 11);
}

.slide-destination {
    background-color: #212529;
    height: 100%;
    overflow: hidden;
    align-content: center;
}

.slide-destination ul {
    animation: SlideDestination 10s linear infinite;
    display: inline-block;
    margin: 0;
    padding-left: 100%;
    white-space: nowrap;
}

.slide-destination ul li {
    display: inline;
    font-size: 2.5rem;
    margin: 0 80px 0 0;
    color: orange;
    letter-spacing: .12em;
}

@keyframes SlideDestination {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-110%);
    }
}

/* チーム情報カード */
.team-information {
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: filter 0.4s ease;
}

.team-information:hover {
    filter: brightness(1.3);
}


/* 各team-information */
#team-a-information {
    background-color: var(--team-a-color);
}
#team-b-information {
    background-color: var(--team-b-color);
}
#team-c-information {
    background-color: var(--team-c-color);
}
#team-d-information {
    background-color: var(--team-d-color);
}

/* team-informationの文字表示 */
.information-context {
    font-size: 1.5rem;
}

/* team-informationのフッター */
.team-information-footer {
    display: flex;
    justify-content: space-between;
}

/* team-informationの残りマス数表示 */
.remaining-squares {
    font-size: 1.2rem;
}

/* team-informationの時刻表示 */
.information-time {
    font-size: 1.2rem;
}

/* team-informationの駅表示 */
.latest-station {
    align-content: center;
    font-size: 3rem;
    font-weight: 300;
    height: min(12dvw, 92.16px);
    paint-order: stroke;
    text-align: center;
    -webkit-text-stroke: 0.5rem black;
    width: 100%;
}

.updated-time-container {
    font-size: 1.6rem;
}

/* 電車の表示切替トグルボタン */
.train-visibility {
    border-color: black;
}

/* チームAの電車コマ */
#team-a-train {
    fill: var(--team-a-color);
}
/* チームAの電車コマの表示切り替えトグルボタン */
#team-a-train-visibility:checked{
    background-color: var(--team-a-color);
    border-color: black;
}

/* チームBの電車コマ */
#team-b-train {
    fill: var(--team-b-color);
}
/* チームBの電車コマの表示切り替えトグルボタン */
#team-b-train-visibility:checked{
    background-color: var(--team-b-color);
    border-color: black;
}

/* チームCの電車コマ */
#team-c-train {
    fill: var(--team-c-color);
}
/* チームCの電車コマの表示切り替えトグルボタン */
#team-c-train-visibility:checked{
    background-color: var(--team-c-color);
    border-color: black;
}

/* チームDの電車コマ */
#team-d-train {
    fill: var(--team-d-color)
}
/* チームDの電車コマの表示切り替えトグルボタン */
#team-d-train-visibility:checked{
    background-color: var(--team-d-color);
    border-color: black;
}

