html {
    font-size: 2.5vw;
}

body {
    background-attachment: fixed;
    background-image: url('../img/system_bg_train.jpg');
    background-position: center top;
    background-repeat: repeat-y;
    background-size: 100vw;
    font-family: "DotGothic16", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}

.header-contents {
    margin: 1rem;
}

.header-tab {
    font-size: 1.5rem;
}

#header-img {
    width: 100vw;
}

.svg-container {
    overflow: hidden;
    border: solid;
}