html {
    font-size: 62.5%;
}

body {
    background-attachment: scroll;
    background-image: url('../img/system_bg_train.jpg');
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: center top;
    font-size: 2rem;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-contents {
    margin: 1rem;
}

#header-img {
    width: 100vw;
}

.svg-container {
    overflow: hidden;
    border: solid;
}