#operation-index {
    font-size: 1.7rem;
    padding: 1rem;
}

#button-back-to-top {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    position: fixed;
    bottom: 1rem;
}

.form-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.form-description {
    font-size: 1.5rem;
}

.form-header-contents {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.form-body-contents {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.7rem;
    padding: 0.7rem;
}

.form-item {
    padding: 0.5rem;
}

.form-footer-contents {
    text-align: end;
    padding: 1rem;
}

.submit-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.bombii-table-align-right {
    text-align: right;
}