:root {
    --next-station-bg: rgb(36, 110, 204);
}

/* 次の駅表示部の文字 */
.information-context {
    font-size: 1.5rem;
}

/* 目的地表示カードのコンテナ */
#next-station-card-container {
    /* aspect-ratio: 16/7; */
    /* background-image: url(../img/roulette_bg.jpg);
    background-repeat: no-repeat;
    background-size: contain; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* 目的地表示カード */
#next-station-card {
    background-color: var(--next-station-bg);
    color: white;
    font-weight: 600;
    height: min(27.5dvw, 211.2px);
    width: min(55dvw, 422.4px);
}

/* 目的地表示部 */
#roulette {
    align-content: center;
    font-size: 3rem;
    font-weight: 300;
    height: min(12dvw, 92.16px);
    overflow-wrap: break-word;
    paint-order: stroke;
    text-align: center;
    -webkit-text-stroke: 0.5rem black;
    width: 100%;
    /* font-family: "Kosugi Maru", sans-serif; */
    /* font-weight: 400; */
    /* font-style: normal; */
}

/* ルーレットボタンのコンテナ */
.roulette-button {
    display: flex;
    justify-content: center;
}