/*========== ルーレット画面のCSS ==========*/

:root {
    --next-station-bg: rgb(36, 110, 204);
}

.description-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.description-header-contents {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.roulette-options {
    font-size: 1.8rem
}

/* 次の駅表示部の文字 */
.information-context {
    font-size: 1.5rem;
}

/* 目的地表示カードのコンテナ */
#next-station-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* 目的地表示カード */
#next-station-card {
    background-color: var(--next-station-bg);
    color: white;
    font-weight: 600;
    height: 12.5rem;
    position: relative;
    width: 25rem;
}

/* 目的地表示部 */
#roulette {
    align-content: center;
    font-size: 3rem;
    font-weight: 300;
    left: 50%;
    overflow-wrap: break-word;
    paint-order: stroke;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 0.5rem black;
    width: 100%;
}

/* ルーレットボタンのコンテナ */
.roulette-button-container {
    display: flex;
    justify-content: center;
}

.roulette-button {
    font-size: 1.5rem;
    font-weight: bold;
    height: 5rem;
    width: 12rem;
}

/* ルーレットボタン表示切替用クラス */
.roulette-hidden {
    display: none;
}