#map-modal-content {
    padding: 0;
}

#map-modal-body {
    padding: 0;
}

#button-close {
    position: fixed;
    z-index: 9999;
}

#map-modal-footer {
    min-height: 10vh
}

/* svgの親クラス */
.svg-container {
    overflow: hidden;
    /* aspect-ratio: 56/37; */
    /* border: solid; */
    max-height: 90vh;
    max-width: 100%;
    min-height: 90vh;
    min-width: 100%;
    /* width: 100%; */
}

/* 目的地 */
.destination-station {
    fill: rgb(255, 0, 0) !important;
}

/* 特殊駅 */
.special-station {
    fill: rgba(255, 0, 0) !important;
}

/* 電車コマの非表示用クラス */
.invisible-train {
    visibility: hidden;
}

#routemap {
    height: 100%;
}

/* 電車コマの色 */
.d {
    fill:#cfcfcf;
}
.d,.e,.f,.g,.h {
    stroke-width:0px;
}
.e {
    fill:#211715;
}
.f {
    fill:#645d5c;
}
/* .g {
    fill:#fff;
} */
.h {
    fill:#fff;
}